.btn-login{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background: #f5168d;
    color: white;
    font-weight: 500;
    cursor: pointer;
    margin-right: 50px;
    font-size: 25px;
    transition: 0.5s;
}

.btn-login a{
    text-decoration: none;
}

nav ul li a{
    transform: translateY(-10px);
}

.btn-login:hover{
    transform: translateY(-5px);
    background-color:#ddd;
    color: #121414;
} 

.btn-offers{
    margin-left: 70px;
    margin-top: 40px;
    margin-left: 10px;
    width: 120px;
}

.btn-pay-total-amount{
    margin-top: 50px;
    margin-bottom: 0px;
}

.btn-pay-total-amount,
.btn-pay-for-order,
.btn-go-to-shopping-cart,
.service_tiles button{
    width: 170px;
    padding: 14px 0px;
    background: transparent;
    color: #fff;
    font-size: 20px;
    border: 1px solid #d29de8d3;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.btn-pay-total-amount,
.btn-pay-for-order,
.btn-go-to-shopping-cart{
    display: block;
    width: 350px;
    margin: auto;
    font-size: 28px;
    padding: 16px 32px;
    margin-top: 40px;
    margin-bottom: 40px;
    cursor: pointer;
    transition: 0.5s;
}

.service_tiles button:hover,
.btn-pay-total-amount:hover,
.btn-pay-for-order:hover,
.btn-go-to-shopping-cart:hover{
    transform: translateY(-7px);
    background:#d29de8d3;
    color: #121414;
}

.btn-submit{
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background: #ca7feba9;
    color: white;
    width: 50%;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 25px;
    transition: 0.5s;
}

.btn-submit:hover{
    transform: translateY(-5px);
    background-color:#ddd;
    color: #121414;
}


.btn-timeslot-weekday,
.btn-timeslot-time{
    margin: 8px;
    border-radius: 50px;
    background: #775a967c;
    border: #775a967c;;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: 25px;
    cursor: not-allowed;
    transition: 0.3s;
}

.btn-timeslot-weekday{
    width: 100px;
    height: 130px;
}

.btn-timeslot-time{
    width: 130px;
    height: 80px;
}

.btn-timeslot-weekday:hover,
.btn-timeslot-time:hover{
    transform: translateY(-7px);
    background:#d29de8d3;
    color: #121414;
}