.btn-login{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background: #f5168d;
    color: white;
    font-weight: 500;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 50px;
    font-size: 25px;
}

.btn-login a{
    text-decoration: none;
}

.btn-login:hover{
    transform: translateY(-5px);
    background-color:#ddd;
    color: #121414;
} 

.btn-offers{
    margin-left: 70px;
    margin-top: 40px;
    margin-left: 10px;
    width: 120px;
}

.btn-pay-total-amount,
.btn-pay-for-order,
.btn-offers{
    transform: translateY(-10px);
    font-size: 20px;
    font-weight: 700;
    padding: 12px;
    background: #ca7feba9;
    color: white;
    border: 1px solid #121414;
    border-radius: 7px;
    transition: all 0.3s;
} 

.btn-pay-total-amount:hover,
.btn-pay-for-order:hover,
.btn-offers:hover,
.btn-add-to-cart:hover{
    transform: translateY(-16px);
    background-color:#ddd;
    color: #121414;
}

.btn-pay-for-order,
.btn-pay-total-amount{
    display: block;
    margin: auto;
    border-radius: 10px;
    align-self: center;
    padding: 2rem;
    padding: 1rem 2rem;
    text-align: center;
    white-space: nowrap;
    font-size: 28px;
}

.btn-pay-for-order{
    margin-top: 20px;
    margin-bottom: 40px;
}

.btn-pay-total-amount{
    margin-top: 50px;
    margin-bottom: 0px;
}

.btn-add-to-cart{
    margin: -10px 0px 15px 32px;
    border-radius: .5rem;
    align-self: center;
    padding: 1rem;
    background: #ca7feba9;
    color: white;
    padding: 10px 10px;
    text-align: center;
    white-space: nowrap;
    font-size: 18px;
    transition: all 0.3s;
}

.btn-submit{
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background: #ca7feba9;
    color: white;
    width: 50%;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 25px;
}

.btn-submit:hover{
    transform: translateY(-5px);
    background-color:#ddd;
    color: #121414;
}
