@import url("styles-tiles.css");
@import url("styles-btns.css");

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(9, 0, 77, 0.65), rgba(9, 0, 77, 0.65)), url(images/background.png);
    background-size: cover;
    background-position: center;
    padding: 10px, 8%;
}

.header {
    position: sticky;
    top: 0;
}

.logo a{
    float: left;
    color: #fff;
    margin: 16px 36px;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
}

nav{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #4e50bf5c;
}

nav ul{
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 60px;
    font-size: 25px;
}

nav ul li{
    display: inline-block;
    margin: 10px 20px;
}

nav ul li a{
    color: #FFFF;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.content{
    margin-top: 10%;
    margin-left: 15%;
    color: #fff;
    max-width: 900px;
    font-size: 20px;
}

.content h1{
    font-size: 50px;
    font-weight: 600;
    line-height: 85px;
    margin-top: 40px;
    color: #fff;
}

.content p{
    font-size: 22px;
}

.select{
    margin-top: 25px;
    height: 60px;
    width: 900px;
    font-size: 24px;
    opacity: 0.33;
}

.select option {
    margin: 40px;
    background: rgba(113, 97, 128, 0.65);
    color: black;
}

.title{
    margin-bottom: 30px;
}

.title h1,
.title h2{
    color: #FFFF;
    margin-top: 50px;
    text-align: center;
    letter-spacing: 1px;
}

.title h1{
    text-align: left;
    text-align: center;
}

.provided-services,
.selected-services {
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid #fff;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: larger;
    color: #fff;
} 

.provided-services th,
.selected-services th{
    width: 300px;
} 

.selected-services tr{
    height: 70px;
}

td{
    height: 30px;
    text-align: center;
} 

th, td{
    vertical-align: top;
}

#tableHeader{
    font-size: 1.5rem;
    height: 80px;
}

.reviews-tile{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.reviews-title,
.reviews-tile,
.tile{
    margin-left: 15%;
}

.reviews-title{
    color: #fff;
    font-size: 30px;
    margin-top: 5%;
}
 
.tile{
    margin-bottom: 40px;
    margin: 25px;
    margin-left: 0;
    margin-right: 30px;
    color: #fff;
    line-height: 1.4;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    margin-top: 30px;
    padding: 10px 7px 4px 7px;
    height: 370px;
    width: 250px;
    font-size: medium;
    transition: 0.5s;
}

.tile h3{
    margin-bottom: 15px;
}

.tile p{
    margin-top: 10px;
    font-size: 17px;
}

.tile p img{
    width: 28px;
    height: 28px;
    margin-bottom: 10px;
}

.tile:hover{
    transform: translateY(-7px);
    background-color: rgba(113, 97, 128, 0.65);
}

.btn-add-to-cart:hover{
    transform: translateY(-5px);
    background-color:#ddd;
    color: #121414;
}

.artists-list img{
    width: 280px; 
    height: 250px;
    margin: 20px;
    border-radius: 5px;
}

.artists-list li{
    display: flex;
    justify-content: space-around;;
    align-items: center;
    font-size: 20px;
    padding: 16px; 
    text-align: justify; 
    color: #fff;
    width: 70rem;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
}

.artist-selfdescription{
    color: #fff;
    font-size: 20px;
    text-align: left;
}

.quantity input{
    width: 80px;
    padding: 5px;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    background:white;
    border: .5px solid black;
    border-radius: 5px;
 }

.purchase-text{
    margin-top: 100px;
    margin-top: 20px;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    text-align: justify;
    font-size: large;
}

.payment-info-title,
.payment-form input{
    margin-bottom: 20px;
}

.wrap input{
    margin: 0px 0px 20px 0px;
    height: 50px;
    width: 220px;
    margin-bottom: 20px;
    padding: 16px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    font-size: 20px;
    border-radius: 5px;
    margin-left: 8px;
    margin-right: 8px;
}

/* ------ footer ------ */

.row{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
}

.footer{
    padding: 50px 15% 10px;
    border-top: 6px solid #333;
    color: #fff;
    margin-top: 150px;
}

.footer h2{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.footer .col{
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;
}

.footer .col a{
    display: block;
    text-decoration: none;
    color: #777;
    font-size: 14px;
    margin-bottom: 10px;
}

.footer .row{
    align-items: flex-start;
    padding: 10px 0;
}

.title-timeslots{
    margin-top: 30px;
    color: #fff;
    text-align: center;
}

.artist_description_tiles .artist-description h3{
    margin: 20px 0px;
}

.artist_description_tiles .artist-description img{
    width: 30px;
    height: 30px;
    margin-top: 10px;
}