@import "styles-login.css";

body {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
}

.main {
    border-radius: 15px;
    color: #FFFF;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    margin-top: 30px;
    padding: 10px 20px;
    width: 500px;
    text-align: center;
    align-self:center;
    margin-left: auto;
    margin-right: auto;
}

.main h2{
    font-size: 20px;
}

label {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    color: #555;
    font-weight: bold;
}


input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 20px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

p a{
    color: hotpink;
}